Node-red/mqtt client.txt
[
    {
        "id": "b70a9552.41c498",
        "type": "tab",
        "label": "mqtt_client",
        "disabled": false,
        "info": ""
    },
    {
        "id": "36e82a22.b5a57e",
        "type": "ui_switch",
        "z": "b70a9552.41c498",
        "name": "",
        "label": "switch",
        "group": "7a482ba6.9c5c7c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "room/lamp",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 141,
        "y": 637.75,
        "wires": [
            [
                "c2e2e10.3b74da"
            ]
        ]
    },
    {
        "id": "d9b15ca8.58dd9",
        "type": "ui_gauge",
        "z": "b70a9552.41c498",
        "name": "Humidity",
        "group": "fc8a7841.d1bca8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 707,
        "y": 171.75,
        "wires": []
    },
    {
        "id": "64dac7b3.0916e4",
        "type": "ui_gauge",
        "z": "b70a9552.41c498",
        "name": "Temperature",
        "group": "b064caae.39df88",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "-50",
        "max": "50",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 694,
        "y": 423.75,
        "wires": []
    },
    {
        "id": "21addaae.7404a6",
        "type": "ui_form",
        "z": "b70a9552.41c498",
        "name": "",
        "label": "Port",
        "group": "762b88ef.e1b7c4",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "mqtt Port",
                "value": "mqtt_port",
                "type": "text",
                "required": false
            }
        ],
        "formValue": {
            "mqtt_port": ""
        },
        "payload": "",
        "topic": "",
        "x": 115,
        "y": 309,
        "wires": [
            [
                "3189a7b9.0c0088"
            ]
        ]
    },
    {
        "id": "3189a7b9.0c0088",
        "type": "function",
        "z": "b70a9552.41c498",
        "name": "toMsgPort_Xbee",
        "func": "if(typeof msg.payload.mqtt_port != \"undefined\" ){\n    msg.port = msg.payload.mqtt_port;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 149,
        "y": 408,
        "wires": [
            [
                "f4f257ab.eff0d8"
            ]
        ]
    },
    {
        "id": "2092edfc.f9cfc6",
        "type": "function",
        "z": "b70a9552.41c498",
        "name": "to string",
        "func": "msg.payload = msg.payload.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 423,
        "y": 218,
        "wires": [
            [
                "c2778f45.e40f28"
            ]
        ]
    },
    {
        "id": "c2778f45.e40f28",
        "type": "json",
        "z": "b70a9552.41c498",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 472,
        "y": 306.54998779296875,
        "wires": [
            [
                "a6a8f640.664b18",
                "6422359c.98899c",
                "1e8cdcdb.eb0a53",
                "71f337c7.ebfa34"
            ]
        ]
    },
    {
        "id": "a6a8f640.664b18",
        "type": "function",
        "z": "b70a9552.41c498",
        "name": "filterOfHumi",
        "func": "if(msg.payload.id == \"mqttHumi_toPC\"){\n    msg.payload = msg.payload.message;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 612,
        "y": 229,
        "wires": [
            [
                "d9b15ca8.58dd9"
            ]
        ]
    },
    {
        "id": "6422359c.98899c",
        "type": "function",
        "z": "b70a9552.41c498",
        "name": "filterOfTemp",
        "func": "if(msg.payload.id == \"mqttTemp_toPC\"){\n    msg.payload = msg.payload.message;\n    return msg;\n}\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 652,
        "y": 285,
        "wires": [
            [
                "64dac7b3.0916e4"
            ]
        ]
    },
    {
        "id": "c2e2e10.3b74da",
        "type": "function",
        "z": "b70a9552.41c498",
        "name": "Switch_Confirm",
        "func": "var string = msg.payload;\nmsg.payload = {\n    boo: \"yes\",\n    data: string\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 308,
        "y": 640,
        "wires": [
            [
                "74bb4960.f1e374"
            ]
        ]
    },
    {
        "id": "74bb4960.f1e374",
        "type": "function",
        "z": "b70a9552.41c498",
        "name": "switchObjectTransfer",
        "func": "if(msg.payload.boo == \"yes\"){\n    var swi = msg.payload.data;\n    msg.payload = \"{\\\"id\\\": \\\"mqttswitch\\\", \\\"message\\\": \\\"\" + swi + \"\\\"}\";\n    return msg;\n\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 482,
        "y": 555.010009765625,
        "wires": [
            [
                "f2fb7df3.9e6e"
            ]
        ]
    },
    {
        "id": "f2fb7df3.9e6e",
        "type": "tcpoutport",
        "z": "b70a9552.41c498",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "name": "tcprp_mqtt",
        "x": 638,
        "y": 635.3699951171875,
        "wires": []
    },
    {
        "id": "1e8cdcdb.eb0a53",
        "type": "function",
        "z": "b70a9552.41c498",
        "name": "filterOfMotion",
        "func": "if(msg.payload.id == \"mqttMotion_toPC\"){\n    msg.payload = msg.payload.message;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 526,
        "y": 484,
        "wires": [
            [
                "7f5feefc.6b506c"
            ]
        ]
    },
    {
        "id": "7f5feefc.6b506c",
        "type": "ui_text",
        "z": "b70a9552.41c498",
        "group": "3f95d858.4ffb0c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Motion",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 692,
        "y": 482.70001220703125,
        "wires": []
    },
    {
        "id": "71f337c7.ebfa34",
        "type": "function",
        "z": "b70a9552.41c498",
        "name": "trigger for lamp ",
        "func": "if(msg.payload.id == \"mqttTemp_toPC\"){\n    var temp = parseFloat(msg.payload.message);\n    if(temp > 26.5){\n        msg.payload = \"on\";\n        return msg;\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 176,
        "y": 569.9099731445312,
        "wires": [
            [
                "b3565fb7.852138",
                "c2e2e10.3b74da"
            ]
        ]
    },
    {
        "id": "b3565fb7.852138",
        "type": "debug",
        "z": "b70a9552.41c498",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 268,
        "y": 132.53997802734375,
        "wires": []
    },
    {
        "id": "f4f257ab.eff0d8",
        "type": "tcpinport",
        "z": "b70a9552.41c498",
        "name": "",
        "server": "server",
        "host": "",
        "port": "",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 311,
        "y": 360.469970703125,
        "wires": [
            [
                "2092edfc.f9cfc6",
                "74bb4960.f1e374"
            ]
        ]
    },
    {
        "id": "7a482ba6.9c5c7c",
        "type": "ui_group",
        "z": "",
        "name": "Lamp",
        "tab": "8a9d5514.a90638",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fc8a7841.d1bca8",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "8a9d5514.a90638",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b064caae.39df88",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "8a9d5514.a90638",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "762b88ef.e1b7c4",
        "type": "ui_group",
        "z": "",
        "name": "Set Up",
        "tab": "8a9d5514.a90638",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3f95d858.4ffb0c",
        "type": "ui_group",
        "z": "",
        "name": "Motion",
        "tab": "8a9d5514.a90638",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8a9d5514.a90638",
        "type": "ui_tab",
        "z": "",
        "name": "Room",
        "icon": "dashboard"
    }
]