Node-red/mqtt server.txt
[
    {
        "id": "763196da.9555e8",
        "type": "tab",
        "label": "mqtt_server",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5c47333d.47614c",
        "type": "mqtt out",
        "z": "763196da.9555e8",
        "name": "Lamp",
        "topic": "room/lamp",
        "qos": "2",
        "retain": "",
        "broker": "2b5baffe.399af",
        "x": 610,
        "y": 460,
        "wires": []
    },
    {
        "id": "fcd82d77.edff4",
        "type": "mqtt in",
        "z": "763196da.9555e8",
        "name": "Temperature",
        "topic": "out/temperature",
        "qos": "2",
        "broker": "2b5baffe.399af",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "99fd9e66.40101",
                "69f9601f.5b34e"
            ]
        ]
    },
    {
        "id": "a27d6ffc.8b20f",
        "type": "mqtt in",
        "z": "763196da.9555e8",
        "name": "Humidity",
        "topic": "out/humidity",
        "qos": "2",
        "broker": "2b5baffe.399af",
        "x": 80,
        "y": 680,
        "wires": [
            [
                "99fd9e66.40101",
                "69f9601f.5b34e"
            ]
        ]
    },
    {
        "id": "97fa8ea7.71c68",
        "type": "tcp request",
        "z": "763196da.9555e8",
        "server": "",
        "port": "",
        "out": "sit",
        "splitc": " ",
        "name": "tcp_mqtt",
        "x": 440,
        "y": 680,
        "wires": [
            [
                "bfbb584d.16ab08"
            ]
        ]
    },
    {
        "id": "4d5ae173.12637",
        "type": "function",
        "z": "763196da.9555e8",
        "name": "Set up host",
        "func": "\nvar mqttHost = context.get('mqttHost')||0; //set counter\nvar mqttPort = context.get('mqttPort')||0;\n\nif((typeof msg.payload.mqtt_host != \"undefined\")&&(typeof msg.payload.mqtt_port != \"undefined\")){\n    mqttHost = msg.payload.mqtt_host;\n    context.set('mqttHost',mqttHost);\n    \n    mqttPort = msg.payload.mqtt_port;\n    context.set('mqttPort',mqttPort);\n    \n    msg.payload = \"{\\\"id\\\": \\\"connect\\\"}\";\n}\nmsg.host = mqttHost;\nmsg.port = mqttPort;\n\nreturn msg; \n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 760,
        "wires": [
            [
                "97fa8ea7.71c68",
                "69f9601f.5b34e"
            ]
        ]
    },
    {
        "id": "30e2d4f8.37914c",
        "type": "ui_form",
        "z": "763196da.9555e8",
        "name": "",
        "label": "",
        "group": "2329175e.ba2ef8",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "mqtt Host",
                "value": "mqtt_host",
                "type": "text",
                "required": false
            },
            {
                "label": "mqtt Port",
                "value": "mqtt_port",
                "type": "text",
                "required": false
            }
        ],
        "formValue": {
            "mqtt_host": "",
            "mqtt_port": ""
        },
        "payload": "",
        "topic": "",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "4d5ae173.12637"
            ]
        ]
    },
    {
        "id": "d69fcdd7.e870c",
        "type": "function",
        "z": "763196da.9555e8",
        "name": "switch_set_lamp",
        "func": "if(msg.payload.id == \"mqttswitch\"){\n    var b = msg.payload.message.toString();\n    msg.payload = b;\n    return msg;\n} ",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 880,
        "wires": [
            [
                "5c47333d.47614c",
                "6f2a1a84.81dda4"
            ]
        ]
    },
    {
        "id": "bfbb584d.16ab08",
        "type": "function",
        "z": "763196da.9555e8",
        "name": "to string",
        "func": "msg.payload = msg.payload.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 700,
        "wires": [
            [
                "70ebe0b3.a0f32"
            ]
        ]
    },
    {
        "id": "70ebe0b3.a0f32",
        "type": "json",
        "z": "763196da.9555e8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 860,
        "wires": [
            [
                "d69fcdd7.e870c"
            ]
        ]
    },
    {
        "id": "99fd9e66.40101",
        "type": "function",
        "z": "763196da.9555e8",
        "name": "toString",
        "func": "if(msg._topic == \"out/humidity\"){\n    var string = msg.payload.toString();\n    msg.payload = \"{\\\"id\\\": \\\"mqttHumi_toPC\\\", \\\"message\\\": \\\"\" + string +\"\\\" }\";\n    return msg;\n}\nif(msg._topic == \"out/temperature\"){\n    var string = msg.payload.toString();\n    msg.payload = \"{\\\"id\\\": \\\"mqttTemp_toPC\\\", \\\"message\\\": \\\"\" + string +\"\\\" }\";\n    return msg;\n}\n\nif(msg._topic == \"room/motion\"){\n    var string = msg.payload.toString();\n    msg.payload = \"{\\\"id\\\": \\\"mqttMotion_toPC\\\", \\\"message\\\": \\\"\" + string +\"\\\" }\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 840,
        "wires": [
            [
                "4d5ae173.12637"
            ]
        ]
    },
    {
        "id": "6f2a1a84.81dda4",
        "type": "debug",
        "z": "763196da.9555e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 740,
        "y": 1000,
        "wires": []
    },
    {
        "id": "69f9601f.5b34e",
        "type": "debug",
        "z": "763196da.9555e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 350,
        "y": 580,
        "wires": []
    },
    {
        "id": "74b25de.bca87a4",
        "type": "mqtt in",
        "z": "763196da.9555e8",
        "name": "Motion",
        "topic": "room/motion",
        "qos": "2",
        "broker": "2b5baffe.399af",
        "x": 90,
        "y": 940,
        "wires": [
            [
                "b97d1dea.d6aff",
                "99fd9e66.40101"
            ]
        ]
    },
    {
        "id": "b97d1dea.d6aff",
        "type": "debug",
        "z": "763196da.9555e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 340,
        "y": 1020,
        "wires": []
    },
    {
        "id": "7e2a5b9.72149a4",
        "type": "debug",
        "z": "763196da.9555e8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "a408325a.5213f",
        "type": "mosca in",
        "z": "763196da.9555e8",
        "mqtt_port": "11883",
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "7e2a5b9.72149a4"
            ]
        ]
    },
    {
        "id": "2b5baffe.399af",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "11883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "2329175e.ba2ef8",
        "type": "ui_group",
        "z": "",
        "name": "Set Up",
        "tab": "3a71d832.f4e3b8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3a71d832.f4e3b8",
        "type": "ui_tab",
        "z": "",
        "name": "Room",
        "icon": "dashboard"
    }
]