Node-red/mqtt server.txt
[
    {
        "id": "78afd858.36b478",
        "type": "tab",
        "label": "mqtt_server",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c5133d92.d07ff",
        "type": "mqtt out",
        "z": "78afd858.36b478",
        "name": "Lamp",
        "topic": "room/lamp",
        "qos": "2",
        "retain": "",
        "broker": "2b5baffe.399af",
        "x": 610,
        "y": 480,
        "wires": []
    },
    {
        "id": "3f8ff72a.fbff48",
        "type": "mqtt in",
        "z": "78afd858.36b478",
        "name": "Temperature",
        "topic": "room/temperature",
        "qos": "2",
        "broker": "2b5baffe.399af",
        "x": 90,
        "y": 620,
        "wires": [
            [
                "576f7c32.3c1404",
                "4c4278c2.bfd9f8"
            ]
        ]
    },
    {
        "id": "c6fdd75f.40b9f8",
        "type": "mqtt in",
        "z": "78afd858.36b478",
        "name": "Humidity",
        "topic": "room/humidity",
        "qos": "2",
        "broker": "2b5baffe.399af",
        "x": 80,
        "y": 680,
        "wires": [
            [
                "576f7c32.3c1404",
                "4c4278c2.bfd9f8"
            ]
        ]
    },
    {
        "id": "1a38332d.4c1add",
        "type": "tcp request",
        "z": "78afd858.36b478",
        "server": "",
        "port": "",
        "out": "sit",
        "splitc": " ",
        "name": "tcp_mqtt",
        "x": 440,
        "y": 680,
        "wires": [
            [
                "7a5aa469.aef27c"
            ]
        ]
    },
    {
        "id": "452b9c20.23bd94",
        "type": "function",
        "z": "78afd858.36b478",
        "name": "Set up host",
        "func": "\nvar mqttHost = context.get('mqttHost')||0; //set counter\nvar mqttPort = context.get('mqttPort')||0;\n\nif((typeof msg.payload.mqtt_host != \"undefined\")&&(typeof msg.payload.mqtt_port != \"undefined\")){\n    mqttHost = msg.payload.mqtt_host;\n    context.set('mqttHost',mqttHost);\n    \n    mqttPort = msg.payload.mqtt_port;\n    context.set('mqttPort',mqttPort);\n    \n    msg.payload = \"{\\\"id\\\": \\\"connect\\\"}\";\n}\nmsg.host = mqttHost;\nmsg.port = mqttPort;\n\nreturn msg; \n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 760,
        "wires": [
            [
                "1a38332d.4c1add",
                "4c4278c2.bfd9f8"
            ]
        ]
    },
    {
        "id": "de72936b.ac515",
        "type": "ui_form",
        "z": "78afd858.36b478",
        "name": "",
        "label": "",
        "group": "2329175e.ba2ef8",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "mqtt Host",
                "value": "mqtt_host",
                "type": "text",
                "required": false
            },
            {
                "label": "mqtt Port",
                "value": "mqtt_port",
                "type": "text",
                "required": false
            }
        ],
        "formValue": {
            "mqtt_host": "",
            "mqtt_port": ""
        },
        "payload": "",
        "topic": "",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "452b9c20.23bd94"
            ]
        ]
    },
    {
        "id": "a9941be6.696a98",
        "type": "function",
        "z": "78afd858.36b478",
        "name": "switch_set_lamp",
        "func": "if(msg.payload.id == \"mqttswitch\"){\n    var b = msg.payload.message.toString();\n    msg.payload = b;\n    return msg;\n} ",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 880,
        "wires": [
            [
                "c5133d92.d07ff",
                "432eda0f.06b784"
            ]
        ]
    },
    {
        "id": "7a5aa469.aef27c",
        "type": "function",
        "z": "78afd858.36b478",
        "name": "to string",
        "func": "msg.payload = msg.payload.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 700,
        "wires": [
            [
                "f9e4f596.689d08"
            ]
        ]
    },
    {
        "id": "f9e4f596.689d08",
        "type": "json",
        "z": "78afd858.36b478",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 860,
        "wires": [
            [
                "a9941be6.696a98"
            ]
        ]
    },
    {
        "id": "576f7c32.3c1404",
        "type": "function",
        "z": "78afd858.36b478",
        "name": "toString",
        "func": "if(msg._topic == \"room/humidity\"){\n    var string = msg.payload.toString();\n    msg.payload = \"{\\\"id\\\": \\\"mqttHumi_toPC\\\", \\\"message\\\": \\\"\" + string +\"\\\" }\";\n    return msg;\n}\nif(msg._topic == \"room/temperature\"){\n    var string = msg.payload.toString();\n    msg.payload = \"{\\\"id\\\": \\\"mqttTemp_toPC\\\", \\\"message\\\": \\\"\" + string +\"\\\" }\";\n    return msg;\n}\n\nif(msg._topic == \"room/motion\"){\n    var string = msg.payload.toString();\n    msg.payload = \"{\\\"id\\\": \\\"mqttMotion_toPC\\\", \\\"message\\\": \\\"\" + string +\"\\\" }\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 840,
        "wires": [
            [
                "452b9c20.23bd94"
            ]
        ]
    },
    {
        "id": "432eda0f.06b784",
        "type": "debug",
        "z": "78afd858.36b478",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 740,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4c4278c2.bfd9f8",
        "type": "debug",
        "z": "78afd858.36b478",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 350,
        "y": 580,
        "wires": []
    },
    {
        "id": "c3800b7e.c01eb8",
        "type": "mqtt in",
        "z": "78afd858.36b478",
        "name": "Motion",
        "topic": "room/motion",
        "qos": "2",
        "broker": "2b5baffe.399af",
        "x": 90,
        "y": 940,
        "wires": [
            [
                "31f05f7c.6e2d",
                "576f7c32.3c1404"
            ]
        ]
    },
    {
        "id": "31f05f7c.6e2d",
        "type": "debug",
        "z": "78afd858.36b478",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 340,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ce2e2ac0.02d0a8",
        "type": "debug",
        "z": "78afd858.36b478",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "bf78e8c4.6fcb08",
        "type": "mosca in",
        "z": "78afd858.36b478",
        "mqtt_port": "11883",
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "ce2e2ac0.02d0a8"
            ]
        ]
    },
    {
        "id": "2b5baffe.399af",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "11883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "2329175e.ba2ef8",
        "type": "ui_group",
        "z": "",
        "name": "Set Up",
        "tab": "3a71d832.f4e3b8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3a71d832.f4e3b8",
        "type": "ui_tab",
        "z": "",
        "name": "Room",
        "icon": "dashboard"
    }
]